body{
    background:#007fc7;
}
p{
    width: 300px;
}
/*elementos fixos ficarão fixos com base na janela do navegador ou seja mesmo movimentando a base de rolagem ele não irá se mover
ele é util para ser utilizado em chats e menus*/

.fixed{
    position: fixed;
    background: #f2f2f2;
    border: 1px solid red;
    top:0px;
    left:0px;
    margin: 0px;

}
/*o container precissa receber uma posição relativa, absoluda ou fixa para que um elemento absoluto seja alinhado nele*/

.absolute{
    position: absolute;
    background: #f2f2f2;
    border: 1px solid red;
    top: 80px;
    right: 20px;
}
.relative{
    border: 1px solid red;
    position: relative;
    top: 20px;
    left: 80px;
}
#container{
    background: #fff;
    width: 800px;
    padding: 10px;
    margin: 10px  auto;
    position: relative;
}