/*layout liquido usa porcentagem para definir o tamanho de seus componentes*/
body{
    font-family: "Trebuchet", Helvetica, sans-serif;
    background: #f2f2f2;
}
#container{
    border: 1px solid red;
    width: 960px;
    margin: 0 auto;
    background: #fff url(../Imagens/coluna.png) repeat-y left top; /*para criar a coluna é só adicionar ao background de conatiner
    e colocar para repetir apenas no eixo y*/
    min-width: 720px;
    max-width: 1280px;
}
#marca{
    width: 100%;
    height: 200px;
    background: #225992 url(../Imagens/cabecalho2.jpg) no-repeat;
    text-align: center;
    line-height: 200px;
}
#conteudo{
    width: 75%;
    float: right;
    min-width: 720px;/*esse comando define uma largura miníma e neste caso impede que a página quebre ao reduzir a janela*/
    max-width: 1280px;
}
#conteudo-principal{
    width: 63%;
    float:left;
}
img.img-noticia{
    width: 94%;
    padding: 2%;
    max-width: 600px;
}
#conteudo-secundario{
    width: 35%;
    float:right;
    background: #d1d1d1;
}
#navegacao{
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}
#navegacao ul{
    list-style: none;
}
#navegacao li a{
    text-decoration: none;
}
#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}
#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p{
    padding-left: 20px;
    padding-right: 20px;
}