body{
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
fieldset{
    margin: 1em 0;/*para criar um espaçamento entre os fieldsets*/
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
}
legend{
    font-weight: bold;
}
label{
    display: block;/*o label ficará acima da caixa de testo*/
    cursor:pointer; /*muda a aparência do cursor o transformando em uma mão indicando que é clicável*/
}
input[type="text"]{/*em colchetes foi definido qual atributo será utilzado a formatação, assim os elementos radio não serão afetados
    porém como isso é algo recente, nevegadores podem não funcionar, portanto o recomendado é utilizar a forma clássica abaixo usando
    classes*/
    width: 20em;
}
input.radio, input.checkbox, input.submit{
    width: auto;
}
textarea{
    width: 20em;
    height: 10em;
}
.radio{
    margin-right: 1em;/*para aumentar o espaço entre a checkbox e o texto*/
}