*{
    margin:0;
    padding:0;
}

body{
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    background: #fff url(../Imagens/bg.png); /*repetindo em horizontal e vertical*/
    margin: 15px; /*espaçamento superior e lateral*/
}

#container{
    background: #ede9cc;
    margin: 0 auto;
    min-width: 740px; /*para que a tela não reduzi de forma absurda*/
    max-width: 1200px; /*para que a tela não fique muito grande e interfira nos textos*/
}
/*inicio cabeçalho*/
#topo{
    position: relative; /*para fazer o logo e o menu ficarem um ao lado do outro*/
    background: #dbcb87;
    height: 15.4em; /*para a altura ser proporcional ao tamanho dos textos*/
    min-height: 250px;
}

#area-logo{
    position: absolute;
    background: url(../Imagens/topo-imagem-principal2.png) no-repeat;
    width: 100%;
    height: 250px;
    top:0;
    left:0; /*para fazer o logo colar no lado esquerdo*/
    z-index: 1;
}

.logo a{
    position: absolute;
    top:15px;
    left:15px;
    z-index: 3;
    background: url(../Imagens/logohotel.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -900px; /*para esconder o texto caso o css não carregue ou para leitores de tela*/
}

#area-menu{
    position: absolute;
    background: url(../Imagens/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    top:0;
    right:0;/*para fazer o menu colar no lado direito*/
    z-index: 2;
}

#conteudo-menu{
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;

}

#menu-locais{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-top: 1px solid #b5ab56;
    border-bottom: 1px solid #b5ab56;
    padding: 5px 0px 5px 5px;
    font-size: 0.7em;
    color: #8b8448
}

#menu-locais .locais{
    float: left;
}
a{
    text-decoration: none;
}
a.reserva{
    text-transform: uppercase;
    background: #a29850;
    padding: 5px 10px;
    float: right;
}
/*fim cabeçalho
********************************************************************************************************************/
/*inicio barra de navegação vertical*/

#menu{
    margin: 15px;
}

ul{
    list-style: none;
}

ul#navegacao{
    float: left;
}

ul#navegacao a{
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 2px;
    color: #6e672c;
    line-height: 30px;
}

ul#navegacao a:hover{
    background: #fdf6be;
}

.depoimento{
    width:226px;
    height: 164px;
    float: right;
}

/*fim barra de navegação vertical
********************************************************************************************************************/
/*inicio area principal*/

#area-principal{
    background: red;
    float: left;
    width: 50%; /*ambas areas terão metade do espaço*/
}

.conteudo{
    margin: 0 auto;
    width: 50%;
}

/*fim area principal
********************************************************************************************************************/

/*inicio area lateral*/

#area-lateral{
    background: blue;
    float: right;
    width: 50%; /*ambas areas terão metade do espaço*/
}

/*fim area lateral
********************************************************************************************************************/