*{
    margin:0;
    padding:0;
}

body{
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    background: #fff url(../Imagens/bg.png); /*repetindo em horizontal e vertical*/
    margin: 15px; /*espaçamento superior e lateral*/
}

#container{
    background: #ede9cc;
}

#topo{
    position: relative; /*para fazer o logo e o menu ficarem um ao lado do outro*/
    background: #dbcb87;
    height: 15.4em; /*para a altura ser proporcional ao tamanho dos textos*/
    min-height: 250px;
}

#area-logo{
    position: absolute;
    background: url(../Imagens/topo-imagem-principal2.png) no-repeat;
    width: 100%;
    height: 250px;
    top:0;
    left:0; /*para fazer o logo colar no lado esquerdo*/
}

#area-menu{
    position: absolute;
    background: url(../Imagens/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    top:0;
    right:0;/*para fazer o menu colar no lado direito*/
}