body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
ul{
    margin: 0px;
    padding:0px;
    list-style: none;
    width: 720px;
}

ul li{
    float: left;
    background: url(../5NavegacaocomAbas/Imagens/aba-direita.png)  no-repeat top right;
}

li a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../5NavegacaocomAbas/Imagens/aba-esquerda.png)  no-repeat top left;
    color: #fff
}
ul a:hover{
    color:#894a1f;
}
ul #atual{
    background: url(../5NavegacaocomAbas/Imagens/aba-direita-atual.png) no-repeat top right;
}
ul #atual a{
    background: url(../5NavegacaocomAbas/Imagens/aba-esquerda-atual.png) no-repeat top left;
}