/*layout liquido usa porcentagem para definir o tamanho de seus componentes*/
body{
    font-family: "Trebuchet", Helvetica, sans-serif;
    background: #f2f2f2;
}
#container{
    width: 85%;
    margin: 0 auto;
    background: #fff;
}
#marca{
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}
#conteudo{
    width: 75%;
    float: right;
    min-width: 720px;/*esse comando define uma largura miníma e neste caso impede que a página quebre ao reduzir a janela*/
    max-width: 1280px;
}
#conteudo-principal{
    width: 63%;
    float:left;
}
#conteudo-secundario{
    width: 35%;
    float:right;
    background: #d1d1d1;
}
#navegacao{
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}
#navegacao ul{
    list-style: none;
}
#navegacao li a{
    text-decoration: none;
}
#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}
#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p{
    padding-left: 20px;
    padding-right: 20px;
}