body{
    background:#f4f4f4;
}
#principal{
    width: 920px;

}
.clear{
    clear: both;
}
.noticia{
    background: #e5e5e5;
    padding: 5px;
    width: 280px;
    margin: 7px;
    float: left;
}
.imagem-galeria{
    background: white;
    width: 265px;
    padding: 5px;
    float: left;
    margin: 15px;
}