/* Estrutura do Site
********************************************************************************************************/
body{
    background: #f4f2ec url(../Imagens/fundo.png) repeat-x; /*imagem para aplicar fundo marrom*/
    font: 12px "Lucida Grande", "Lucida Sans Unicode" Arial, sans-serif;
}

#container{
    width: 1080px;
    margin: 0 auto;
}

a:link, a:active, a:visited{
    color: #af670a;
    text-decoration: none;
}

a:hover {
    color: #227115;
}

/* Logo
********************************************************************************************************/
#logo h1{
    float: left;
}
#logo a{
    width: 248px;/*tamanho da imagem*/
    height: 21px;
    text-indent: -9999px; /*para jogar o texto para a lateral e esconder*/
    display: block;
    background: url(../Imagens/logo.png) no-repeat; 
}

/* Navegação
********************************************************************************************************/
header{
    padding:15px 0;
    height: 55px;
}

nav ul{
    list-style: none;
    margin: 20px;
    float: right;
}

nav ul li{
    float: left;
}

nav ul li a{
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover{
    border-bottom: 1px solid #545858;
}

/* Principal
********************************************************************************************************/

#conteudo{
    background: green; 
    width:710px;
    float: left;
}

aside{
    background: #ebe7dd;
    width: 350px;
    float: right; 
    padding-bottom: 30px;
}

section#visita{
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

section#galeria{
    padding: 0 25px 0 25px;
}

section#galeria a{
    display: block;
    background: url(../Imagens/fundo-foto.png) no-repeat;
    border: 1px solid red;
    float: left;
    padding: 17px;
    margin: 10px 0 0 20px;
}

section#galeria img{
    margin-top: 3px;
}

h4{
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}

/* Formulários
********************************************************************************************************/

input{
    height: 20px;
    width: 80px;
    background: #fff;
    border: none;
    font-size: 1em;
}

input.campo{
    border: 1px solid #ada484;
}

input.botao{
    background: #9b9271;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}

fieldset{
    border: none;
}

legend{
    display: none;
}